{% extends "base.html" %}

{% block content %}

<section class="main-splash">


  <h3 class="merp">Your recommendations:</h3>
  <div id="movie-results">
  {% for v, w in variety|zip(wine) %}
  <h5 class="recommendations">
    We suggest <span id="highlight">{{v}}</span> as a good grape variety match for you. <br> Top tip: {{w}}</h5>
     {% endfor %}
  </div>

  <div class="button-container">

    <button onclick="location.href='/recommender'" type="submit" class="btn btn-light m-5">
      Go back to recommender
    </button>

  </div>

</section>

{% endblock %}
