{% extends "base.html" %}

{% block content %}

<section class="main-splash">


  <h3 class="merp">Your recommendations:</h3>
  <div id="movie-results">
  {% for v, w in variety|zip(wine) %}
  <h5 class="recommendations">
    "We suggest {{v}} as a good match for you. Try {{w}}"</h5>
  {% endfor %}
  </div>

  <div class="button-container">

    <button onclick="location.href='/recommender'" type="submit" class="btn btn-light m-5">
      Go back to recommender
    </button>

  </div>

</section>

{% endblock %}
